
th{
    border-bottom:  2px;
    color: black;
}

input{
    height: 30px;
}

button{
    background-color: rgb(71, 71, 71);
    color: white;
    border-radius: 50% !important;
    font-size: 25px;
    width: 50px;
    height: 50px;
    text-align: center;
    border: none !important;
    transition: all 1.2s;
    cursor: pointer;
}

button:hover{
    background-color: rgb(145, 145, 145);
    color: black;
    transition: 0.2s;
}

i{
    color: crimson;
    text-align: center;
    line-height: 20px;
}